{% extends 'base.html.twig' %}

{% block title %}New Media{% endblock %}

{% block body %}
<div class="container">
    <h1>Ajouter un nouveau média</h1>
    {{ include('media/_form.html.twig') }}
    <a href="{{ path('app_media_index') }}">Retour à la liste</a>
</div>
{% endblock %}
