{% extends 'base.html.twig' %}

{% block title %}Winnie's desk - Créer une nouvelle catégorie{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer une nouvelle catégorie</h1>
        {{ include('category/_form.html.twig') }}
        <a href="{{ path('category_index') }}">Retour à la liste des catégorie</a>
    </div>
{% endblock %}
