{% extends 'base.html.twig' %}

{% block title %}Winnie's desk - Ajouter un nouveau produit{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajouter un nouveau produit</h1>
        {{ include('product/_form.html.twig') }}
    </div>
{% endblock %}
