{% extends 'base.html.twig' %}

{% block title %}Winnie's desk - Nouvelle adresse de livraison{% endblock %}

{% block body %}
    <h1>Votre adresse de livraison</h1>
    {{ include('customer_address/_form.html.twig') }}
{% endblock %}
