{% extends 'base.html.twig' %}

{% block title %}Winnie's desk - Accès non autorisé{% endblock %}

{% block body %}
<div class="container">
    <div id="no-access"> 
        <img class="center" src="images/lock.png" alt="image d'un cadenas"/>
        <p class="center">Veuillez vous connecter ou vous créer un compte !</p>
    </div>
</div>
{% endblock %}